{% load static %}
<div>
  <div class="px-[clamp(1.5625rem,-12.1094rem+43.75vw,12.5rem)]">
    <h3 class="text-center">About</h3>
    <div>
      <p class="text-center">
        The Artificial Intelligence and Data Science lab specialises in the
        application of artificial intelligence and data science -including, for
        example, methods from computer vision, natural language processing and
        predictive analytics-to problems in the developing world. Applications:
        Natural language processing for under-resourced languages, automated
        diagnosis of both crop and human diseases, auction design for mobile
        commodity markets, analysis of traffic patterns in African cities, and
        of telecoms and remote sensing data for anticipating the spread of
        infectious diseases.
      </p>
    </div>
  </div>
  <div>
    <div>
      <h3 class="text-center">Vision</h3>
      <div>
        <p class="text-center">
          Excellence in Artificial Intelligence research for accessible
          solutions.
        </p>
      </div>
    </div>
    <div>
      <h3 class="text-center">Mission</h3>
      <div>
        <p class="text-center">
          To advance artificial intelligence research to solve real-world
          challenges.
        </p>
      </div>
    </div>
  </div>
</div>
