{% load static %}

<div class="px-[clamp(1.5625rem,-12.1094rem+43.75vw,12.5rem)] bg-[#EBECEF]">
  <h3 class="text-center text-[#212529] font-bold text-3xl pt-7">Projects</h3>
  <div class="flex flex-wrap justify-center py-10 gap-5">
    {# Projects List #}
    <a
      class="lg:w-[18rem] md:w-full cursor-pointer hover:shadow-lg duration-300 p-5 rounded-[1.6rem] block"
    >
      <img src="{% static 'images/air-bg.jpg' %}" alt="bg Image" />
      <div>
        <p class="text-center mt-5">
          End-to-end AI and data systems for targeted surveillance and
          management of COVID-19 and future pandemics affecting Uganda (COAST).
          Radio Mining workstream
        </p>
      </div>
    </a>
    {# project 2 #}
    <a
      class="lg:w-[18rem] md:w-full cursor-pointer hover:shadow-lg duration-300 p-5 rounded-[1.6rem] block"
    >
      <img src="{% static 'images/air-bg.jpg' %}" alt="bg Image" />
      <div>
        <p class="text-center mt-5">
          Using Machine Learning for Prediction of Deforestation
        </p>
      </div>
    </a>
    {# project 3 #}
    <a
      class="lg:w-[18rem] md:w-full cursor-pointer hover:shadow-lg duration-300 p-5 rounded-[1.6rem] block"
    >
      <img src="{% static 'images/air-bg.jpg' %}" alt="bg Image" />
      <div>
        <p class="text-center mt-5">
          Using Machine Learning for Localized and Targeted Agricultural Advisory to Smallholder Farmers in Uganda
        </p>
      </div>
    </a>
    {# project 4 #}
    <a
      class="lg:w-[18rem] md:w-full cursor-pointer hover:shadow-lg duration-300 p-5 rounded-[1.6rem] block"
    >
      <img src="{% static 'images/air-bg.jpg' %}" alt="bg Image" />
      <div>
        <p class="text-center mt-5">
          Building NLP Text and Speech Datasets for Low Resourced Languages in East Africa
        </p>
      </div>
    </a>
  </div>
</div>
