{% load static %}

<div
  class="bg-[#020C50] text-center text-surface/75 dark:bg-[#020C50] dark:text-white/75 lg:text-left"
>
  <div class="mx-6 py-10 text-center md:text-left">
    <div class="grid gap-8 md:grid-cols-2 lg:grid-cols-3">
      <div>
        <h6 class="mb-4 font-bold uppercase">Find Us</h6>
        <div>
          <p>
            Makerere University College of Computing and Information Sciences
            Block B, Level 6
          </p>
          <p>Open from Monday - Friday</p>
          <p>9AM - 5PM</p>
        </div>
      </div>

      <!-- Useful links section -->
      <div>
        <h6 class="mb-4 font-bold uppercase">More Information</h6>
        <p class="mb-4">
          <a href="#">Blogs</a>
        </p>
        <p class="mb-4">
          <a href="#">Seminars</a>
        </p>
        <p class="mb-4">
          <a href="#">Hackathons</a>
        </p>
        <p>
          <a href="#">Help</a>
        </p>
      </div>
      <!-- Contact section -->
      <div>
        <h6 class="mb-4 font-bold uppercase">Contact</h6>
        <p class="mb-4">
          <a href="mailto:joyce.nabende@mak.ac.ug">
            <i class="fa-solid fa-envelope me-3"></i>
            joyce.nabende@mak.ac.ug</a
          >
        </p>
        <p class="mb-4">
          <a href="https://x.com/AIR_lab_MUK" target="_blank"
            ><i class="fa-brands fa-twitter me-3"></i> @AIR_lab_MUK</a
          >
        </p>
        <p class="mb-4">
          <a href="tel:+256701726338">
            <i class="fa-solid fa-phone me-3"></i>
            + 256 701 726 338</a
          >
        </p>
      </div>
    </div>
  </div>

  <!--Copyright section-->
  <div class="bg-black/5 p-6 text-center">
    <span>© 2024 Copyright:</span>
    <a class="font-semibold" href="https://tw-elements.com/"
      >All rights reserved</a
    >
  </div>
</div>
